## Exercise 04
## Robert L. Hadsell

In [2]:
#reading a csv file and copying its contents to a variable
import csv
newlines = []
with open('airports.csv', 'r') as f:
    reader = csv.reader(f)
    for line in reader:
        newlines.append(line)

In [4]:
newlines[:3]

[['airport_id',
  'name',
  'city',
  'country',
  'iata_faa',
  'iaco',
  'latitude',
  'longitude',
  'altitude',
  'zone',
  'dst'],
 ['1',
  'Goroka',
  'Goroka',
  'Papua New Guinea',
  'GKA',
  'AYGA',
  '-6.081689',
  '145.391881',
  '5282',
  '10',
  'U'],
 ['2',
  'Madang',
  'Madang',
  'Papua New Guinea',
  'MAG',
  'AYMD',
  '-5.207083',
  '145.7887',
  '20',
  '10',
  'U']]

In [5]:
#how many fields are there in the dataset
len(newlines)

6978

In [6]:
newlines[1]

['1',
 'Goroka',
 'Goroka',
 'Papua New Guinea',
 'GKA',
 'AYGA',
 '-6.081689',
 '145.391881',
 '5282',
 '10',
 'U']

In [8]:
lat = newlines[0].index('latitude')
lon = newlines[0].index('longitude')

In [9]:
lat

6

In [10]:
lon

7

In [11]:
newlines[1][lat]

'-6.081689'

In [12]:
#change latitude and longitude values from strings to numbers
#assign a variable to these values
lats = [float(record[lat]) for record in newlines[1:]]
lons = [float(record[lon]) for record in newlines[1:]]

In [21]:
# view how data is stored
lons[0:3]

[145.391881, 145.7887, 144.295861]

In [14]:
lats[0:3]

[-6.081689, -5.207083, -5.826789]

In [15]:
# Make 4 Separate Lists to Store Values for each hemisphere
northern = []
southern = []
eastern = []
western = []

In [16]:
for i, lat in enumerate(lats):
    if lat > 0:
        northern.append(i)
    else:
        southern.append(i)
    
for i, lon in enumerate(lons):
    if lon > 0:
        eastern.append(i)
    else:
        western.append(i)

## 1. Find the western most airport in the northern hemisphere

In [17]:
westernmost = float
for i in northern:
    if lons[i] < westernmost:
        westernmost = lons[i]

WN = lons.index(westernmost)
print newlines[WN + 1]

['2253', 'Midway Atoll', 'Midway', 'Midway Islands', 'MDY', 'PMDY', '28.201725', '-177.380636', '13', '-11', 'U']

## 2. Find the western most airport in the southern hemisphere

In [18]:
for i in southern:
    if lons[i] < westernmost:
        westernmost = lons[i]
    
WS = lons.index(westernmost)
print newlines[WS + 1]

['5875', 'Matei Airport', 'Matei', 'Fiji', 'TVU', 'NFNM', '-16.6906', '-179.877', '60', '12', 'U']

## 3. Find the southern most airport in the western hemisphere

In [28]:
southernmost = float ('inf')
northernmost = float ('-inf')

for i in western:
    if lats[i] < southernmost:
        southernmost = lats[i]
    
SW = lats.index(southernmost)
print newlines[SW + 1]

['2033', 'South Pole Station', "Stephen's Island", 'Antarctica', '', 'NZSP', '-89.999997', '0', '9300', '127', 'U']

## 4. Find the northern most airport in the eastern hemisphere

In [27]:
for i in eastern:
    if lats[i] > northernmost:
        northernmost = lats[i]
        
NE = lats.index(northernmost)
print newlines[NE + 1]

['7452', 'Ny-Alesund Airport', 'Ny-Alesund', 'Svalbard', '', 'ENAS', '78.9275', '11.874167', '50', '1', 'U']